* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

html {
    font-family: 'Fredoka', sans-serif;
}

.content {
    width: 75%;
    margin-inline: auto;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header>h1 {
    color: #e53170;
    font-size: 45px;
    margin-bottom: 50px;
}

header>p {
    font-size: 18px;
}

main {
    border: 1px solid red;
}

.flexcard {
    border: 1px solid blue;
}

main>div {
    background-color: black;
}

.flexcard {
    float: left;
    width: calc(100% / 3 - 25px);
    margin: 0px 25px 50px 0px;
}

.flexcard>figure {
    width: 30%;
}

.flexcard>figure,
.flexcard-info {
    float: left;
}

.flexcard-info {
    padding: 13px 0px 0px 13px;
}

.flexcard-info li {
    list-style-type: none;
    color: white;
    margin-bottom: 8px;
}

.flexcard li:first-child {
    text-transform: uppercase;
}

address>a {
    color: #30d5ff;
    font-style: normal;
    text-decoration: none;
}